@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-wrapper {
    width: 75%;
    height: 75vh;
    background-color: rgb(96, 185, 195);
    overflow: hidden;
}

.scores {
    position: absolute;
    top: 15%;
    font-family: 'Silkscreen', cursive;
}

.message {
    position: absolute;
    top: 55%;
    font-family: 'Silkscreen', cursive;
}